@model WebGrupo3S.Models.CuentaXCobrar

@{
    ViewBag.Title = "Detalle";
}


<div class="panel box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Cuenta por Cobrar</h3>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Cliente</label>
                        @Html.EditorFor(model => model.cc_Cliente)
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Saldo</label>
                        @Html.EditorFor(model => model.cc_Saldo)
                    </div>
                </div>

            </div>
        </div>

        @*Detalle del documento *@
        <div class="panel panel-primary" id="doc_body">
            <div class="panel-heading">
                <h2 class="panel-title">Detalle Cuenta</h2>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="scrollable">
                            <table id="detalle_doc" class="display table table-responsive table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Sucursal</th>
                                        <th>Documento</th>
                                        <th>Fecha Mov.</th>
                                        <th>Monto Mov.</th>
                                        <th>Opciones</th>                                        
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h2>Detalle Cuenta por Cobrar</h2>

<div>
    <h4>Cuenta por Cobrar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_Cliente)
        </dd>

        <dt>            
            Saldo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_Saldo)
        </dd>

        <dt>
            Fecha Ultimo Mov.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_fechaUltMov)
        </dd>

        <dt>
            Monto Ultimo Mov.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_MontoUltMov)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_estCuentaXCobrar)
        </dd>

        <dt>
            Fecha Ingreso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_fechaing)
        </dd>

        <dt>
            Fecha Modificación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_fechamod)
        </dd>

        <dt>
            Usuario Ingreso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_usuarioing)
        </dd>

        <dt>
            Usuario Modificación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_usuariomod)
        </dd>

        <dt>
            Máquina Ingreso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_maquinaing)
        </dd>

        <dt>
            Máquina Modificación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_maquinamod)
        </dd>

        <dt>
            Marca Temporal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_timestamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.cc_IdCuentaXCobrar  }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
