@model WebGrupo3S.Models.CuentaXCobrar

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle Cuenta por Cobrar</h2>

<div>
    <h4>Cuenta por Cobrar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_Cliente)
        </dd>

        <dt>            
            Saldo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_Saldo)
        </dd>

        <dt>
            Fecha Ultimo Mov.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_fechaUltMov)
        </dd>

        <dt>
            Monto Ultimo Mov.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_MontoUltMov)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_estCuentaXCobrar)
        </dd>

        <dt>
            Fecha Ingreso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_fechaing)
        </dd>

        <dt>
            Fecha Modificación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_fechamod)
        </dd>

        <dt>
            Usuario Ingreso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_usuarioing)
        </dd>

        <dt>
            Usuario Modificación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_usuariomod)
        </dd>

        <dt>
            Máquina Ingreso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_maquinaing)
        </dd>

        <dt>
            Máquina Modificación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_maquinamod)
        </dd>

        <dt>
            Marca Temporal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_timestamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.cc_IdCuentaXCobrar  }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
