@using WebGrupo3S.Helpers
@model IList<WebGrupo3S.Models.sp_Busqueda_Perfil_Result>

@{
    ViewBag.Title = "Perfiles";
}

@Styles.Render("~/Admin/plugins/datatables/css")

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div>
                    @if (ViewBag.reporte == "1")
                    {
                        <a href="@Url.Action("Report", new { id = "PDF" })">  PDF   <img width="20" height="20" src="~/Images/pdf_flat.png" /></a>
                        <a href="@Url.Action("Report", new { id = "Excel" })">  EXCEL   <img width="20" height="20" src="~/Images/xls_flat.png" /></a>
                    }
                </div>
                <table id="datos" class="table table-responsive table-hover table-bordered">
                    <thead style="background-color:lavender">
                        <tr>
                            <th>
                                Codigo
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Descripción
                            </th>
                            <th style="background-color:lavender">
                                <div class="pull-right">
                                    @if (ViewBag.nuevo == "1")
                                    {
                                        <a href="@Url.Action("Create", "perfils")"> <span class="glyphicon glyphicon-plus"></span> </a>
                                    }
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodigoPerfil)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombrePerfil)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescripcionPerfil)
                                </td>
                                <td id="target">
                                    @if (ViewBag.editar == "1")
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Editar", "Edit", "perfils", routeValues: new { id = item.CodigoPerfil }, htmlAttributes: new { data_modal = "", data_toggle="tooltip", @class = "btn btn-primary btn-xs" })
                                    }
                                    @if (ViewBag.debaja == "1")
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "de Baja", "Delete", "perfils", routeValues: new { id = item.CodigoPerfil }, htmlAttributes: new { data_modal = "", data_toggle="tooltip", @class = "btn btn-info btn-xs" })
                                    }
                                    @if (ViewBag.permisos == "1")
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-user'></span>", "Permisos", "Opciontree", "perfils", routeValues: new { per = item.CodigoPerfil, nom = item.DescripcionPerfil }, htmlAttributes: new {data_toggle="tooltip", @class = "btn btn-primary btn-xs" })
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Admin/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")   
    
}


