@model WebGrupo3S.Models.Addnode
@{
    ViewBag.Title = "Opciones";
}
<h4>@ViewData["Perfil"]</h4>
<div class="header">
    <h3 class="bg-light-blue-gradient" style="color:white; width:400px; height:40px; text-align:center">Actualiza datos</h3>
</div>
@using (Html.BeginForm())
{
    <div class="body" style="width:400px">
        @Html.AntiForgeryToken()
        <div class="form-horizontal table-bordered">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body" style="width:380px; height:350px; overflow: scroll">
                        <div id="tree"></div>
                        <div class="clearfix"></div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" style="width:400px">
        <button class="btn btn-info btn-xs" type="button" onclick="location.href='@Url.Action("Index", "Perfils")'"><i class="glyphicon glyphicon-remove"></i>Cancela</button>
        <button id="btnGetValue" type="button" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-ok"></i>Grabar</button>
    </div>
}

@section Scripts {
    <script src="~/Scripts/gijgo.js"></script>
<link href="http://code.gijgo.com/1.3.0/css/gijgo.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            var msg = "<h4>Exito!</h4>" +
                      "<p>* Se han modificado los permisos.</p>";

            var msg_fail = "<h4>Alerta!</h4>" +
                          "<p>* Ha ocurrido un problema,</p>" +
                            "<p>* ver salida en consola.</p>";
            
            var tree = "";
            $.ajax({
                type: 'get',
                dataType: 'json',
                cache: false,
                url: '@Url.Action("GetHierarchy")',
                success: function (records, textStatus, jqXHR) {
                    tree = $('#tree').tree({
                        primaryKey: 'Id',
                        
                        dataSource: [{
                            text: 'Información de Seguridad',
                            children: [records[0], records[1]]
                            
                        }, {
                            text: 'Planillas',
                            children: [records[5], records[16]]
                        }, {
                            text: 'CuentasCorrientes',
                            children: [records[20], records[13], records[7]]
                        }, {
                            text: 'Productos/Sucursales',
                            children: [records[11], records[12], records[3], records[8], records[4]]
                        }, {
                            text: 'Calendario',
                            children: null
                        }, {
                            text: 'Configuración General',
                            children: [records[21], records[22], records[6], records[23]]
                        }],
                        dragAndDrop: false,
                        checkboxes: true,
                        cascadeCheck:true,
                        iconsLibrary: 'glyphicons',
                        uiLibrary: 'bootstrap'
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('Error - ' + errorThrown);
                }
            });

            $('#btnGetValue').click(function (e) {
                e.preventDefault;
                var result = tree.getCheckedNodes();
                var existe = 0;           

                console.log(result);
                
                var perfil = 0, usuario = 0;

                for (i = 0; i < result.length; i++) {

                    if (result[i] == 26 && perfil == 0) {
                        perfil = 1;
                        console.log("padre encontrado");
                    }
                }
            
                if (perfil == 0) {

                    for (i = 0; i < result.length; i++) {

                        if (result[i] == 27 || result[i] == 28 || result[i] == 29 || result[i] == 30 || result[i] == 697) {
                            result.push(26);
                            console.log("padre agregado");
                            break;
                        }
                    }
                }

                console.log(result);

                //inicio de comentar
                if (result == "") { alert("Please Select Node..!!") }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetOpciones")',
                        //dataType: 'json',
                        data: { datos: result.join() },
                        success: function (response) {
                            console.log("exito");
                            alertify.closeLogOnClick(true).success(msg);
                            console.log(response);
                           //location.reload(true);

                        },
                        error: function (ex) {
                            alertify.closeLogOnClick(true).error(msg_fail);
                            console.log(ex);
                            // alert('Revision de opciones fallo: ' + ex);
                        }
                    });
                    //alert(result)
                }
                return true;
                //para comentar al final
                
            });

            $('.rbtnnodetype').click(function (e) {
                if ($(this).val() == "Pn") {
                    $('.petenddiv').attr("class", "petenddiv hidden");

                    $("#ParentName").val("");
                }
                else {
                    $('.petenddiv').attr("class", "petenddiv");
                }
            });

        });

    </script>

}
