@using WebGrupo3S.Helpers
@model IList<WebGrupo3S.Models.sp_Busqueda_Permiso_Result>

<p>
    @Html.ActionLink("Asigna permisos", "Asigna", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Elimina permisos", "Elimina", null, new { @class = "btn btn-info" })
</p>

<h2>@ViewData["Perfil"]</h2>

@Styles.Render("~/Admin/plugins/datatables/css")

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <table id="datos" class="table table-responsive table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Codigo Opción
                            </th>
                            <th>
                                Opción
                            </th>
                            <th>
                                Descripción de Opción
                            </th>
                            <th>
                                <div class="pull-right">
                                    <a href="@Url.Action("Agrega", "perfils")"><img width="20" height="20" src="/images/add.png" /></a>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodigoOpcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Opcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescOpcion)
                                </td>
                                <td>
                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-th-list'></span>", "Opciones", "Opciontree", "perfils", routeValues: new { per = item.CodigoPerfil, id = item.CodigoOpcion, nomper = item.Perfil, nom = item.DescOpcion }, htmlAttributes: new {@class = "btn btn-primary btn-xs" })
                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "de Baja", "Elimina", "perfils", routeValues: new { id = item.CodigoOpcion, nom = item.DescOpcion }, htmlAttributes: new { data_modal = "", @class = "btn btn-info btn-xs" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Admin/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
    @Scripts.Render("~/bundles/modalform")
}
