@{
    ViewBag.Title = "Perfiles";
}
<div class="header">
    <h2>@ViewData["nombre"]</h2>
    <h3 class="bg-light-blue-gradient" style="color:white; width:800px; height:40px; text-align:center">Actualiza datos</h3>
</div>
@Styles.Render("~/Admin/plugins/datatables/css")

@using (Html.BeginForm())
{
    <div class="form-horizontal table-responsive col-md-12" , style="height: 380px; width:400px; overflow: scroll">
        <h2>Perfiles</h2>
        <h6>Doble click, para pasar a perfiles de usuario</h6>
        <div class="box" , style="width:350px">
            <div class="box-body">
                <table id="datosH" class="table table-hover table-bordered">
                    <tr>
                        <td>
                            @Html.ListBox("Perfiles", new SelectList(ViewBag.PE, "Value", "Text"), new { style = "height: 240px; width: 300px; color:black" })
                        </td>
                        <td>
                            <button class="btn btn-info btn-xs" type="button" onclick="location.href='@Url.Action("RTodos","Usuarios")'"><i class="glyphicon glyphicon-triangle-right"></i></button>
                            <button id="btnRselec" class="btn btn-info btn-xs" type="button"><i class="glyphicon glyphicon-menu-right"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="form-horizontal table-responsive col-md-12" , style="height: 380px; width:400px; overflow: scroll">
        <h2>Perfiles empleado</h2>
        <h6>Doble click, para pasar a perfiles</h6>
        <div class="box" , style="width:350px">
            <div class="box-body">
                <table id="datosE" class="table table-hover table-bordered">
                    <tr>
                        <td>
                            <button class="btn btn-info btn-xs" type="button" onclick="location.href='@Url.Action("LTodos","Usuarios")'"><i class="glyphicon glyphicon-triangle-left"></i></button>
                            <button id="btnLselec" class="btn btn-info btn-xs" type="button"><i class="glyphicon glyphicon-menu-left"></i></button>
                        </td>
                        <td>
                            @Html.ListBox("PUsuarios", new SelectList(ViewBag.PU, "Value", "Text"), new { style = "height: 240px; width: 300px; color:black" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="footer" style="width:700px">
        <button class="btn btn-info btn-sm" type="button" onclick="location.href='@Url.Action("Index", "Usuarios")'">Retorna a Usuarios</button>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="../../Scripts/jquery-3.1.1.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        $("#Perfiles").dblclick(function () {
            $("#PUsuarios").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AsignaPerfil")',
                dataType: 'json',
                data: { id: $("#Perfiles").val() },
                success: function (perfiles) {
                    $.each(perfiles, function (i, perf) {
                        $("#PUsuarios").append('<option value="' + perf.Value + '">' +
                        perf.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Despliegue de perfiles fallo.' + ex);
                }
            });
            $("#Perfiles").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("TraePerfil")',
                dataType: 'json',
                success: function (perfiles) {
                    $.each(perfiles, function (i, perf) {
                        $("#Perfiles").append('<option value="' + perf.Value + '">' +
                        perf.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Despliegue de perfiles fallo.' + ex);
                }
            });
            return false;
        })
        $("#PUsuarios").dblclick(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("BajaPerfil")',
                dataType: 'json',
                data: { id: $("#PUsuarios").val() },
                success: function (perfiles) {
                    $("#PUsuarios").empty();
                    $.each(perfiles, function (i, perf) {
                        $("#PUsuarios").append('<option value="' + perf.Value + '">' +
                        perf.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Despliegue de perfiles de usuarios fallo.' + ex);
                }
            });
            $("#Perfiles").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("TraePerfil")',
                dataType: 'json',
                success: function (perfiles) {
                    $.each(perfiles, function (i, perf) {
                        $("#Perfiles").append('<option value="' + perf.Value + '">' +
                        perf.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Despliegue de perfiles fallo.' + ex);
                }
            });
            return false;
        })

        $('#btnRselec').click(function () {
            var selperfil = document.getElementById("Perfiles");
            var result = "";
            for (i = 0; i < selperfil.length; i++) {
                currentOption = selperfil[i];
                if (currentOption.selected == true) {
                    if (result == "") {
                        result = currentOption.value;
                    }
                    else {
                        result += "," + currentOption.value;
                    }
                }                
            }
            if (result != "") 
            {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetRSelec")',
                    dataType: 'json',
                    data: {datos: result},
                    success: function (perfiles) {
                        $("#PUsuarios").empty();
                        $.each(perfiles, function (i, perf) {
                            $("#PUsuarios").append('<option value="' + perf.Value + '">' +
                            perf.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Revision de perfiles fallo: ' + ex);
                    }
                });
                $("#Perfiles").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("TraePerfil")',
                    dataType: 'json',
                    success: function (perfiles) {
                        $.each(perfiles, function (i, perf) {
                            $("#Perfiles").append('<option value="' + perf.Value + '">' +
                            perf.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Despliegue de perfiles fallo.' + ex);
                    }
                });
            }
            return false;
        });

        $('#btnLselec').click(function () {
            var selperfil = document.getElementById("PUsuarios");
            var result = "";
            for (i = 0; i < selperfil.length; i++) {
                currentOption = selperfil[i];
                if (currentOption.selected == true) {
                    if (result == "") {
                        result = currentOption.value;
                    }
                    else {
                        result += "," + currentOption.value;
                    }
                }
            }
            if (result != "")
            {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetLSelec")',
                    dataType: 'json',
                    data: { datos: result },
                    success: function (perfiles) {
                        $("#PUsuarios").empty();
                        $.each(perfiles, function (i, perf) {
                            $("#PUsuarios").append('<option value="' + perf.Value + '">' +
                            perf.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Revision de perfiles fallo: ' + ex);
                    }
                });
                $("#Perfiles").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("TraePerfil")',
                    dataType: 'json',
                    success: function (perfiles) {
                        $.each(perfiles, function (i, perf) {
                            $("#Perfiles").append('<option value="' + perf.Value + '">' +
                            perf.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Despliegue de perfiles fallo.' + ex);
                    }
                });
            }
            return false;
        });
    });
    </script>
}