@using WebGrupo3S.Helpers
@model  IList<WebGrupo3S.Models.sp_Busqueda_Proveedor_Result>

@{
    ViewBag.Title = "Proveedores";
}

@Styles.Render("~/Admin/plugins/datatables/css")
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div>
                    @if (ViewBag.reporte == "1")
                    {
                        <a href="@Url.Action("Report", new { id = "PDF" })">  PDF   <img width="20" height="20" src="/images/pdf.png" /></a>
                        <a href="@Url.Action("Report", new { id = "Excel" })">  EXCEL   <img width="20" height="20" src="/images/excel.png" /></a>
                    }
                </div>
                <table id="datos" class="table table-responsive table-hover table-bordered">
                    <thead style="background-color:lavender">
                        <tr>
                            <th>
                                Proveedor
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Nombre1
                            </th>
                            <th>
                                Nombre2
                            </th>
                            <th>
                                Nit
                            </th>
                            <th style="background-color:lavender">
                                <div class="pull-right">
                                    @if (ViewBag.nuevo == "1")
                                    {
                                        <a href="@Url.Action("Create", "Proveedors")"><img width="20" height="20" src="/images/add.png" /></a>
                                    }
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Proveedor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoProveedor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nit)
                                </td>
                                <td>
                                    @if (ViewBag.editar == "1")
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Edita", "Edit", "Proveedors", routeValues: new { id = item.Proveedor }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary btn-xs" })
                                    }
                                    @if (ViewBag.debaja == "1")
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "de Baja", "Delete", "Proveedors", routeValues: new { id = item.Proveedor }, htmlAttributes: new { data_modal = "", @class = "btn btn-info btn-xs" })
                                    }
                                    @if (ViewBag.contactos == "1")
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-user'></span>", "Contactos", "contactos", "Proveedors", routeValues: new { id = item.Proveedor, nom = item.Nombre1 }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary btn-xs" })
                                    }
                                    @if (ViewBag.direccion == "1")
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-folder-open'></span>", "Direcciones", "direcciones", "Proveedors", routeValues: new { id = item.Proveedor, nom = item.Nombre1 }, htmlAttributes: new { data_modal = "", @class = "btn btn-info btn-xs" })
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Admin/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}
