@using WebGrupo3S.Helpers
@model IList<WebGrupo3S.Models.sp_Busqueda_Cliente_Result>

@{
    ViewBag.Title = "Clientes";
}

@Styles.Render("~/Admin/plugins/datatables/css")
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div>
                    @if (ViewBag.reporte == "1")
                    {
                        <a href="@Url.Action("Report", new { id = "PDF" })">  PDF   <img width="30" height="30" src="~/Images/pdf_flat.png" /></a>
                        <a href="@Url.Action("Report", new { id = "Excel" })">  EXCEL   <img width="30" height="30" src="~/Images/Excel.png" /></a>
                    }
                </div>
                <table id="datos" class="table table-responsive table-hover table-bordered">
                    <thead style="background-color:lavender">
                        <tr>
                            <th>
                                Cliente
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Identificación
                            </th>
                            <th>
                                Nit
                            </th>
                            <th>
                                Nombre Largo
                            </th>
                            <th style="background-color:lavender">
                                <div class="pull-right">
                                    @if (ViewBag.nuevo == "1")
                                    {
                                        <a href="@Url.Action("Create", "Horarios")"><span class="glyphicon glyphicon-plus"></span></a>
                                    }
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cliente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoCliente)
                                </td>
                                  <td>
                                    @Html.DisplayFor(modelItem => item.Identificacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreLargo)
                                </td>
                                <td>
                                    @if (ViewBag.editar == "1")
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Edita", "Edit", "Clientes", routeValues: new { id = item.Cliente }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary btn-xs" })
                                    }
                                    @if (ViewBag.debaja == "1")
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "de Baja", "Delete", "Clientes", routeValues: new { id = item.Cliente }, htmlAttributes: new { data_modal = "", @class = "btn btn-info btn-xs" })
                                    }
                                    @if (ViewBag.contactos == "1")
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-user'></span>", "Contactos", "contactos", "Clientes", routeValues: new { id = item.Cliente, nom = item.NombreLargo }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary btn-xs" })
                                    }
                                    @if (ViewBag.direccion == "1")
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-folder-open'></span>", "Direcciones", "direcciones", "clientes", routeValues: new { id = item.Cliente, nom = item.NombreLargo }, htmlAttributes: new { data_modal = "", @class = "btn btn-info btn-xs" })
                                    }
                                 </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Admin/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}
