@model WebGrupo3S.Models.Movimiento

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Movimiento</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.mv_empresa)

        @Html.HiddenFor(model => model.mv_IdSucursal)

        @Html.HiddenFor(model => model.mv_IdMov)

        <div class="form-group">
            @Html.LabelFor(model => model.mv_ProdServ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_ProdServ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_ProdServ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mv_IdProdServ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_IdProdServ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_IdProdServ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mv_Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_Cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mv_ValorMov, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_ValorMov, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_ValorMov, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.mv_TipoMovimiento)

        <div class="form-group">
            @Html.LabelFor(model => model.mv_FechaMov, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_FechaMov, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_FechaMov, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.mv_IdDoc)

        <div class="form-group">
            @Html.LabelFor(model => model.mv_IdOrdenServicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_IdOrdenServicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_IdOrdenServicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mv_IdDetalleOrdenServicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_IdDetalleOrdenServicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_IdDetalleOrdenServicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mv_IdAutorizacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_IdAutorizacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_IdAutorizacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mv_fechaing, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_fechaing, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_fechaing, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mv_fechamod, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_fechamod, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_fechamod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mv_usuarioing, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_usuarioing, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_usuarioing, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mv_usuariomod, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_usuariomod, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_usuariomod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mv_maquinaing, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_maquinaing, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_maquinaing, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mv_maquinamod, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_maquinamod, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_maquinamod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mv_estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mv_timestamp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mv_timestamp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mv_timestamp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
